*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
    

}
    .container {
        display: flex;
        flex-direction: column;
        /* max-width: 1200px; */
        margin: 0 auto;
        /* padding: 0 4rem; */
          
        
    }
    .header{
        display:flex;
        justify-content: space-between;
        width: 100%;
        height: 3rem;
        margin-bottom: 2rem;
        background-color: tomato;
        padding: 1rem 5rem;
          
    }
    
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /*Adds space between columns*/
    margin-top: 20px;
    justify-content: center; 
    


}
.search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 0 5rem;
}

input{
    
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 1rem;
}