
/* Country Detail Styles */
.country-detail {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.country-detail.dark-mode{
  background-color: var( --very-dark-blue-bg);
  color: var(--white);
}

.country-flag-detail {
  width: 50%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 5px;
}

.country-info-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.country-info-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.country-info-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.border-countries {
  margin-top: 1.5rem;
}

.border-countries ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.border-countries li {
  background-color: var(--light-gray);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  background-color: var(--light-gray);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.borders {

  gap: 0.5rem;
  background-color: var(--light-gray);
  padding: 0.5rem .5rem;
  margin-right: .5rem;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.back-button.dark-mmode {
  background-color: var(--very-dark-blue-bg);
  color: var(--white);
}

/* Responsive Styles */
@media (max-width: 900px) {
  .country-detail {
    flex-direction: column;
    align-items: center;
  }

  .country-flag-detail,
  .country-info-detail {
    width: 100%;
  }

  .country-info-columns {
    flex-direction: column;
  }

  .country-info-column {
    margin-bottom: 1rem;
  }
}




