/* Country Card Styles */
.country-card {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.country-card:hover {
  transform: translateY(-5px);
}

.country-flag {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9; /* Maintain a 16:9 aspect ratio */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.country-info {
  padding: 1rem;
}

.country-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.country-info p {
  font-size: 0.9rem;
  margin: 0.2rem 0;
  /* background-color: var(--dark-blue-elements); */
  /* color: var(--white); */
}

.dark-mode .country-card {
  background-color: var( --dark-blue-elements);
  color: var(--white);
}


@media (max-width: 375px) {
  .country-list {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
