/* Country Card */
.country {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    /* border: 1px solid hsl(0, 0%, 52%); */
    /* background-color: hsl(209, 23%, 22%); */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-bottom: 1rem;
  }
  
  .country img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid hsl(0, 0%, 52%);
  }
  
  .country h3, .country p {
    padding: 0 1rem;
  }
  
  .country h3 {
    margin-top: 1rem;
    font-weight: 800;
  }
  
  .country p {
    font-weight: 300;
  }
  .country-info span {
    font-weight: 400;
  }


.dark-mode .country-info {
  background-color: hsl(207, 26%, 17%);
  color: #ffffff;
}